<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission To Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <div class="jumbotron" style="text-align: center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">scrape new data</a></p>

        </div>
<!-- Row for displaying the mars news and title-->

      <div class="row">
            <div class="col-md-12">
            <div class="panel panel-default">
            <div class="panel-body">
                   <h3>Latest Mars News</h3>
                   <hr>
                   <h5>{{mars_dict.news_title}}</h5>
                   <p>{{mars_dict.news_p}}</p>
            </div>
            </div>
            </div>
      </div>
<!-- Row for displaying the mars featured image and current weather-->
      <div class="row">
            <div class="col-md-8">
            <div class="panel panel-default">
            <div class="panel-body">
                   <h3>Featured Image</h3>
                   <hr>
                   <img src="{{mars_dict.featured_image_url}}" alt="Mars Featured Image" style="width: 100%">
            </div>
            </div>
          </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                <div class="panel-body">
                               <h3>Current Weather on Mars</h3>
                               <hr>
                               <p>{{mars_dict.mars_weather}}</p>
                </div>
                </div>
    <!-- Row for displaying the mars facts in a table-->
            <div class="col-md-12">
                                <h3>Mars Facts</h3>
                                <p style="border-style:solid;border-color:rgb(88, 124, 88);border-width:2px;border-radius:2px">{{mars_dict.fact_table | safe}}</p>
                        </div>
            </div>
      </div>
      


    </div>
<!-- Row for displaying the mars hemisphere image and title-->
    <div class="row">

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <h3 style="text-align: left">Mars Hemisphere</h3>
                            <hr>
                        </div>
                       <div class="row">
                           
                               <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                   <a href="{{mars_dict['hemisphere_images'][0]['img_url']}}" class="thumbnail">
                                       <img src="{{mars_dict['hemisphere_images'][0]['img_url']}}" alt="">
                                       <h4 style="text-align: left">{{mars_dict.hemisphere_images[0].title}}</h4>
                                   </a>
                               </div>
                               
                               <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <a href="{{mars_dict['hemisphere_images'][1]['img_url']}}" class="thumbnail">
                                        <img src="{{mars_dict['hemisphere_images'][1]['img_url']}}" alt="">
                                        <h4 style="text-align: left">{{mars_dict.hemisphere_images[1].title}}</h4>
                                    </a>
                                </div>
                       </div>
                       <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <a href="{{mars_dict['hemisphere_images'][2]['img_url']}}" class="thumbnail">
                                        <img src="{{mars_dict['hemisphere_images'][2]['img_url']}}" alt="">
                                        <h4 style="text-align: left">{{mars_dict.hemisphere_images[2].title}}</h4>
                                    </a>
                            </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <a href="{{mars_dict['hemisphere_images'][3]['img_url']}}" class="thumbnail">
                                                <img src="{{mars_dict['hemisphere_images'][3]['img_url']}}" alt="">
                                                <h4 style="text-align: left">{{mars_dict.hemisphere_images[3].title}}</h4>
                                            </a>
                                        </div>
                                </div>
                       </div>
                    </div>
                </div>
                
            </div>
        </div>
    

</body>

</html>
